@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body {
    min-height: 100%;
}

body {
    background-color: #2a30a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.container {
    background-color:#1a1e89;
    width: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 1px 1px 7px #0cff03;
    
}

.img-logo img {
    width: 250px;
    height:250px;
    border: 7px solid #0cff03;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 5px;
}

.profession p {
   text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #0cff03;
  margin: 10px;
}

.socials {
    box-shadow: 1px 1px 3px #0cff03;
}

.socials, i {
    background-color: rgb(19, 122, 239);
    padding: 11px;
    border-radius: 30px;
    display: flex;
    gap: 45px;
    font-size: 30px;
    color: #fff;
}

.socials i:hover{
    color: #0cff03;
    transform: scale(1.2);
}

.message {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
}

.message h3 {
    font-size: 25px;
    color: #0cff03;
    letter-spacing: 2px;
}

.message input {
    padding: 15px;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    background-color: #ccc;
    color: #000;
}

.message textarea {
    height: 100px;
    border-radius: 10px;
    font-size: 18px;
    color: #000;
    outline: none;
}

.message button {
    padding: 16px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #0cff03;
    color: #000;
}

.message button:hover {
    opacity: .8;
}

.finish-content p {
    color: #fff;
    margin-top: 10px;
}