@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #23289a;
}

.container {
    background-color:#1a1e89;
}


.img-logo img {
    width: 500px;
    height:500px;
    border: 7px solid #25eb94;
    border-radius: 50%;
    object-fit: cover;
}